.search-bar__input {
  -webkit-tap-highlight-color: transparent;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  outline: none;
  text-align: center;
  width: 75%;
}
